@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  BACKGROUND: 19, 25, 71
  CARD: 30, 44, 93
*/

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 19, 25, 71;
  --card-rgb: 30, 44, 93;
  --border-radius: 12px;
  --card-light-rgb: 33, 63, 128;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  padding: 25px;
}