.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.button {
  border-radius: var(--border-radius);
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.active {
  background-color: rgb(var(--card-light-rgb));
}